// main styles
:root {
    --color: white;
    --background-color: black;
}

* { box-sizing: border-box; padding: 0; margin: 0; }

body {
    color: var(--color);
    background-color: var(--background-color);
}

